nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	padding: 30px 100px;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	transition: .5s;
	z-index: 90;
	a{
		line-height: 30px;
		text-decoration: none;
		color: black;
		z-index: 99;
	}
	button{
		float: right;
		z-index: 99;
	}
}

.logo {
	float: left;
}

.link-container{
	float: right;
	z-index: 90;
	a{
		padding: 0px 11px;
		display: inline-block;
	}
}

.mobile-dropdown-toggle{
	float: right;
	margin-right: 20px;
	display: none;
}

.link-container a::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: black;
	transition: width .3s;
}

.link-container a:hover::after{
	width: 100%;
	transition: width .3s;
}

.onScroll{
	height: 50px;
	padding: 10px 100px;
}

.onNewSection{
	height: 50px;
	padding: 10px 100px;
	background: white;
}



@media (max-width: 768px) {
	nav{
		width: 100%;
		height: 50px;
		padding: 10px 0px;
		border-bottom: none;
		display: flex;
		align-items: center;
		margin: auto;
		transition: 0;
		background: white;
		.logo {
			margin-left: 20px;
			margin-right: auto;
		}
	}

	.mobile-dropdown-toggle{
		display: initial;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: all, .5s, ease-in-out;
		// border: 2px solid black;
	}

	.menu-btn-brger{
		width: 30px;
		height: 3px;
		background: black;
		border-radius: 5px;
		transition: all .5s ease-in-out;
	}

	.menu-btn-brger::before,
	.menu-btn-brger::after{
		content: '';
		position: absolute;
		width: 30px;
		height: 3px;
		background: black;
		// border-radius: 1px;
		transition: all .5s ease-in-out;
		z-index: 99;
	}
	.menu-btn-brger::before{
		transform: translateY(-8px);
	}

	.menu-btn-brger::after{
		transform: translateY(8px);
	}

	nav.dropdown-opened .menu-btn-brger{
		width: 0px;
		background: transparent;
	}

	nav.dropdown-opened .menu-btn-brger::before{
		transform: rotate(45deg) translate(-10px, 10px);
	}

	nav.dropdown-opened .menu-btn-brger::after{
		transform: rotate(-45deg) translate(-10px, -10px);
	}
	
	nav.dropdown-opened > .link-container{
		opacity: 1;
		transform: translateY(0);
	}

	.logo, .mobile-dropdown-toggle{
		z-index: 99;
	}

	.link-container{
		// dropdown cover
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 200px;
		// arrange links
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// padding
		margin: 0;
		padding-top: 50px;
		// padding-left: 7vw;
		// padding-right: 7vw;
		// background: white;
		background: none;
		// anims
		transform: translateY(-100%);
		transition: transform 0.2s, opacity 0.2s;
		z-index: 95;
		a{
			text-align: center;
			padding-top: 9px;
			height: 50px;
			width: 100%;
			background: white;
		}
	}

	.onScroll{
		padding: 10px 0px;
	}
	
	.onNewSection{
		padding: 10px 0px;
	}

	.link-container a::after{
		content: none;
	}

	.link-container a:hover{
		background: lightgray;
		transition: .3s;
	}
	
}