*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

section{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

section .container{
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #D8D6D9;
}

.title{
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	position: relative;
}