section .parallax{ //section/container
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.shadow{ //shadow on bottom of pic
	position: absolute;
	bottom: 0;
	height: 300px;
	width: 100%;
	z-index: 20;
	background: linear-gradient(to top, black, transparent);
}

.paraContainer{//parallax on a div because else it overrides the transform of teh image
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	z-index: 2;
}

/*--------------------------------SECTION0 FOTO-------------------------------*/

.p1background{
	position: absolute;
	bottom: -300px;
	left: 50%;
	transform: translateX(-49%);
	z-index: 1;
}

.p1middle{
	position: absolute;
	bottom: -300px;
	left: 50%;
	transform: translateX(-49%);
	z-index: 2;
}
.p1foreground{
	position: absolute;
	bottom: -300px;
	left: 0px;
	z-index: 3;
}

/*--------------------------------SECTION1 FOTO-------------------------------*/

.p1bg{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.p2background{
	position: absolute;
	height: 100%;
	bottom: 0px;
	z-index: 1;
}

.p2middle{
	position: absolute;
	height: 100%;
	bottom: 0px;
	z-index: 2;
}
.p2foreground{
	position: absolute;
	height: 100%;
	bottom: 53px;
	z-index: 3;
}

.p2bg{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
}