* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section .container {
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #D8D6D9;
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 30px 100px;
  border-bottom: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 90;
}

nav a {
  line-height: 30px;
  text-decoration: none;
  color: black;
  z-index: 99;
}

nav button {
  float: right;
  z-index: 99;
}

.logo {
  float: left;
}

.link-container {
  float: right;
  z-index: 90;
}

.link-container a {
  padding: 0px 11px;
  display: inline-block;
}

.mobile-dropdown-toggle {
  float: right;
  margin-right: 20px;
  display: none;
}

.link-container a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.link-container a:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.onScroll {
  height: 50px;
  padding: 10px 100px;
}

.onNewSection {
  height: 50px;
  padding: 10px 100px;
  background: white;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    height: 50px;
    padding: 10px 0px;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    -webkit-transition: 0;
    transition: 0;
    background: white;
  }
  nav .logo {
    margin-left: 20px;
    margin-right: auto;
  }
  .mobile-dropdown-toggle {
    display: initial;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all, .5s, ease-in-out;
    transition: all, .5s, ease-in-out;
  }
  .menu-btn-brger {
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .menu-btn-brger::before,
  .menu-btn-brger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: black;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 99;
  }
  .menu-btn-brger::before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .menu-btn-brger::after {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  nav.dropdown-opened .menu-btn-brger {
    width: 0px;
    background: transparent;
  }
  nav.dropdown-opened .menu-btn-brger::before {
    -webkit-transform: rotate(45deg) translate(-10px, 10px);
            transform: rotate(45deg) translate(-10px, 10px);
  }
  nav.dropdown-opened .menu-btn-brger::after {
    -webkit-transform: rotate(-45deg) translate(-10px, -10px);
            transform: rotate(-45deg) translate(-10px, -10px);
  }
  nav.dropdown-opened > .link-container {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .logo, .mobile-dropdown-toggle {
    z-index: 99;
  }
  .link-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding-top: 50px;
    background: none;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
    z-index: 95;
  }
  .link-container a {
    text-align: center;
    padding-top: 9px;
    height: 50px;
    width: 100%;
    background: white;
  }
  .onScroll {
    padding: 10px 0px;
  }
  .onNewSection {
    padding: 10px 0px;
  }
  .link-container a::after {
    content: none;
  }
  .link-container a:hover {
    background: lightgray;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

section .parallax {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.shadow {
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  z-index: 20;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: linear-gradient(to top, black, transparent);
}

.paraContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  z-index: 2;
}

/*--------------------------------SECTION0 FOTO-------------------------------*/
.p1background {
  position: absolute;
  bottom: -300px;
  left: 50%;
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
  z-index: 1;
}

.p1middle {
  position: absolute;
  bottom: -300px;
  left: 50%;
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
  z-index: 2;
}

.p1foreground {
  position: absolute;
  bottom: -300px;
  left: 0px;
  z-index: 3;
}

.p1bg {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

/*--------------------------------SECTION1 FOTO-------------------------------*/
.p2background {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  bottom: -450px;
  z-index: 1;
}

.p2middle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-58%);
          transform: translateX(-58%);
  bottom: -500px;
  z-index: 2;
}

.p2foreground {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-58%);
          transform: translateX(-58%);
  bottom: -500px;
  z-index: 3;
}

.p2bg {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

/*--------------------------------SECTION2 FOTO-------------------------------*/
.p3background {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-48%);
          transform: translateX(-48%);
  bottom: -650px;
  z-index: 1;
}

.p3middle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-48%);
          transform: translateX(-48%);
  bottom: -650px;
  z-index: 2;
}

.p3foreground {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -285px;
  z-index: 3;
}

.p3bg {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1366px) {
  .p1foreground {
    left: 50%;
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
  }
}

@media (max-Height: 896px) and (min-height: 701px) {
  .p1background {
    top: -119px;
  }
  .p1middle {
    top: -119px;
  }
  .p1foreground {
    top: -119px;
  }
}

@media (max-width: 414px) and (max-height: 700px) {
  .p1background {
    width: 300%;
    bottom: -135px;
  }
  .p1middle {
    width: 300%;
    bottom: -135px;
  }
  .p1foreground {
    width: 400%;
    bottom: -200px;
  }
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
/*# sourceMappingURL=main.css.map */